<ul>
    <!-- para cada qulidade do arryaiy é criando um elemento html -->
    <% qualitys.forEach((quality) => { %>
        <li>
            <strong><%= quality.title%></strong><%=quality.message%>
        </li>
    <% }) %>
</ul>