<!DOCTYPE html>
<html lang="pt-br">
    <%- include('../partials/head'); %>

    <body class="container">

        <!-- passando um objeto para o header -->
        <%- include('../partials/header', {page: 'Sobre'}); %>

        <main>
            <div class="jumbotron">
                <p>Oi, eu sou o Marcelo, estudante de programção na Rocket Seat</p>
            </div>
        </main>

        <%- include('../partials/footer'); %>
    </body>
</html>